---
import Content from "./text/Content.astro";
import Title from "./text/Title.astro";
import { links, styles, text } from "../utils/constants";
import Button from "./Button.astro";
---

<div
  class="px-5 w-full flex xl:max-w-screen-xl md:flex-row flex-col items-center gap-6 md:max-w-screen-lg relative"
>
  <div class="flex flex-col bg-clip-text w-full z-10">
    <Title style={styles.textHero}>{text.hero.title}</Title>
    <Content styles={styles.contentHero}>{text.hero.content}</Content>
    <div class="flex pt-8 justify-center md:justify-start">
      <Button
        text="Contáctanos"
        style={styles.whatsappToR}
        link={links.whatsapp}
      />
    </div>
  </div>
  <div class="w-full md:h-full rounded-3xl relative">
    <img src="/images/hero-image.png" class="w-full h-full" />
  </div>
</div>
