---
import Content from "./text/Content.astro";
import Title from "./text/Title.astro";
import { links, styles, text } from "../utils/constants";
import Budget from "./Budget.astro";
---

<div
  class="px-5 w-full flex xl:max-w-screen-xl lg:flex-row flex-col items-center gap-5 lg:max-w-screen-lg relative"
  id="location"
>
  <div class="flex flex-col bg-clip-text flex-1 w-full gap-5">
    <Title style={styles.textHero}>{text.location.title}</Title>
    <Content styles={styles.contentHero}>{text.location.content.main}</Content>
    <div class="flex justify-center lg:justify-start gap-5 flex-wrap">
      <Budget
        icon="/images/price.svg"
        text={text.location.content.valueOffering.price}
      />
      <Budget
        icon="/images/custom.svg"
        text={text.location.content.valueOffering.custom}
      />
      <Budget
        icon="/images/check.svg"
        text={text.location.content.valueOffering.quality}
      />
    </div>
    <div class="flex flex-col gap-5">
      <div class="flex items-center gap-3">
        <img src="/images/point.svg" class="w-6 h-6" />
        <a
          href="https://www.google.com/maps/place/Av.+T%C3%BApac+Amaru+1707,+Comas+15312/@-11.9472382,-77.0501777,20.5z/data=!4m6!3m5!1s0x9105d0295064b90b:0xdb649474de39c7ca!8m2!3d-11.9472478!4d-77.0501073!16s%2Fg%2F11j1llzhpn?entry=ttu&g_ep=EgoyMDI0MDkxOC4xIKXMDSoASAFQAw%3D%3D"
          class="font-medium text-lg">Av. Túpac Amaru 1707, Comas 15312</a
        >
      </div>
      <div class="flex items-center gap-3">
        <img src="/images/clock.svg" class="w-6 h-6" />
        <p class="font-medium text-lg">
          Lunes a Viernes de 9:00 AM a 7:00 PM <br />Sábado de 9:00 AM a 2:00 PM
        </p>
      </div>
      <div class="flex items-center gap-3">
        <img src="/images/phone.svg" class="w-6 h-6" />
        <a href="tel:+51983480623" class="font-medium text-lg">983480623</a>
      </div>
    </div>
  </div>
  <div class="w-full h-full flex-1 rounded-3xl relative">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.0192336804727!2d-77.05017769999999!3d-11.9472382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105d0295064b90b%3A0xdb649474de39c7ca!2sAv.%20T%C3%BApac%20Amaru%201707%2C%20Comas%2015312!5e0!3m2!1sen!2spe!4v1690147207878!5m2!1sen!2spe"
      width="100%"
      height="100%"
      style="border:0"
      allowfullscreen=""
      loading="lazy"
      class="lg:absolute top-0 left-0 rounded-xl"></iframe>
  </div>
</div>
